body {
	background-image: url(./bLy7aIMvprnSERKXG9qd_02_793783018d4e68056a1f18cde15078d4_cover_full.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
}

.hero_card {
	width: 500px;
	height: 600px;
	background-image: url(./1385494.jpg);
	margin: 0px auto;
	border-radius: 24px;
	margin-top: 180px;
	overflow: hidden;
}

.a {
	font-size: 35px;
	color: white;
	padding-top: 20px;
	padding-left: 40px;
}

.translate {
	width: 450px;
	height: 45px;
	margin-left: 23px;
	border-radius: 20px;
		border: none;
		padding-top: 20px;
		margin-top: 20px;
}

.translate_button {
	width: 200px;
	height: 50px;
	margin-top: 100px;
	margin-left: 150px;
	color: black;
	background-color: gold;
	border: none;
	font-size: 20px;
border-radius: 20px;
}

.untranslater {
	width: 450px;
	padding-top: 20px;
		border: none;
	margin-top: 90px;
	height: 45px;
	margin-left: 23px;
	border-radius: 20px;
}